@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 24% 91%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 179 65% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 43 24% 94%;
    --secondary-foreground: 0 0% 7%;

    --muted: 43 24% 94%;
    --muted-foreground: 36 6% 50%;

    --accent: 43 24% 94%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 57% 46%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 17% 81%;
    --input: 40 17% 81%;
    --ring: 179 65% 29%;

    --radius: 0.125rem;

    --chart-1: 179 65% 29%;
    --chart-2: 0 57% 46%;
    --chart-3: 83 27% 41%;
    --chart-4: 48 69% 47%;
    --chart-5: 190 80% 52%;

    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 7%;
    --sidebar-primary: 179 65% 29%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 43 24% 94%;
    --sidebar-accent-foreground: 0 0% 7%;
    --sidebar-border: 40 17% 81%;
    --sidebar-ring: 179 65% 29%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
